
<html lang="en">

<head th:replace="fragments/head :: headFragment"></head>

<head>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="bootstrap/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="chart/chart.min.js"></script>
</head>

<body>
    <div class="sidebar">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>
    </div>

    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">

            <!--  status card -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="row mb-5 mt-3">
                        <div class="col-6">
                            <div class="stat-card " style="height: 180px;background-color: #0CAF60;">
                                <div class="bg-white rounded-5 d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; margin: 0 ;">
                                    <i class="fa-solid fa-calendar-days fa-2x" style="color: #000000;"></i>
                                </div>
                                <span class="state-value text-white mb-3 fs-2" id="totalVehicle">2,000</span>
                                <h1 class="state-title text-white fs-5">Total Bookings</h1>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="stat-card " style="height: 180px;background-color: #000000;">
                                <div class="bg-white rounded-5 d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; margin: 0 ;">
                                    <i class="fa-solid fa-building fa-2x" style="color: #000000;"></i>
                                </div>
                                <span class="state-value text-white fs-2 " id="totalActiveVehicle">500</span>
                                <h1 class="state-title text-white fs-5">Total Customers</h1>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6">
                            <div class="stat-card " style="height: 180px;background-color: #000000;">
                                <div class="bg-white rounded-5 d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; margin: 0 ;">
                                    <i class="fa-solid fa-user fa-2x" style="color: #000000;"></i>
                                </div>
                                <span class="state-value text-white fs-2" id="totalRevenueLicenseExpireVehicle">1,000</span>
                                <h1 class="state-title text-white fs-5">Total Drivers</h1>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="stat-card" style="height: 180px;background-color: #000000;">
                                <div class="bg-white rounded-5 d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; margin: 0 ;">
                                    <i class="fa-solid fa-truck fa-2x" style="color: #000000;"></i>
                                </div>
                                <span class="state-value text-white fs-2" id="totalInsuranceExpireVehicle">4,500</span>
                                <h1 class="state-title text-white fs-5">Total Vehicles</h1>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-card">
                        <div class="card-header ps-2" style="border-left: 3px solid #66bb6a;">
                            <h5>Total Distance Of Months</h5>
                            <p>Monthly wise distance</p>
                        </div>
                        <canvas id="myChart3"></canvas>
                    </div>
                </div>

            </div>

            <!-- recent booking and google map -->
            <div class="row mt-1">
                <div class="col-8">
                    <div class="main-card">
                        <div class="row align-items-center justify-content-between" style="border-left: 3px solid #66bb6a;">
                            <div class="col-md-10">
                                <h5>Recent Bookings</h5>
                            </div>
                            <div class="col-md-2 text-end">
                                <button class="btn btn-dark">View</button>
                            </div>
                        </div>
                        <!-- Table Area -->
                        <div class="table-responsive">
                            <table class="table table-hover" id="recentBookingsTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>BookingN o</th>
                                        <th>Customer</th>
                                        <th>Vehicle No</th>
                                        <th>Pickup Date & Time</th>
                                        <th>Delivery Date & Time</th>
                                    </tr>
                                </thead>
                                <tbody id="recentBookingsTableBody">
                                </tbody>
                            </table>
                        </div>
                        <!-- Table Area End -->
                    </div>
                </div>

                <div class="col-4">
                    <div class="main-card">
                        <div class="card-header ps-2" style="border-left: 3px solid #66bb6a;">
                            <h5>Booking Status</h5>
                            <p>Total Bookings of the Current Month</p>
                        </div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-5">
                    <div class="main-card">
                        <div class="card-header ps-2" style="border-left: 3px solid #66bb6a;">
                            <h5>Customers Bookings</h5>
                            <p>Total Bookings of the Current Month</p>
                        </div>
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
                <div class="col-7">
<!--                    <div class="main-card">-->
<!--                        <div class="card-header ps-2" style="border-left: 3px solid #66bb6a;">-->
<!--                            <h5>Total Distance Of Months</h5>-->
<!--                            <p>Monthly wise distance</p>-->
<!--                        </div>-->
<!--                        <canvas id="myChart3"></canvas>-->
<!--                    </div>-->
                </div>

            </div>
        </div>

    </div>
    <div th:replace="fragments/loading :: overlayFragment"></div>

    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="commenjs/dashboard.js"></script>
    <script src="js/sidebar.js"></script>

</body>

</html>