<!-- side bar -->
<div class="navigation" th:fragment="sidebarFragment">
    <!-- Sidebar -->

    <!-- Logo -->
    <div class="logo">
        <!-- <h4 style="color: #00a389;">OKI-DOKI</h4> -->
        <img src="images/header-logo.png" alt="Logo">
    </div>

    <!-- Search Box -->
    <div class="search-container">
        <div class="search-box">
            <i class="bi bi-search search-icon"></i>
            <input type="text" placeholder="Search..." class="form-control">
        </div>
    </div>

    <!-- Navigation Menu -->
    <div class="nav-container" id="nav-container">

        <!-- Dashboard -->
        <div>
            <div class="menu-item mb-2">
                <a href="/dashboard" class="dashboard-link" style="text-decoration: none; text-align: center;">
                    <i class="fa-duotone fa-solid fa-house"></i>Dashboard
                </a>
            </div>
        </div>

        <!-- Booking Management with dropdown -->
        <div>
            <div class="menu-item has-submenu mb-2" data-target="booking-submenu">
                <i class="fa-solid fa-calendar-day menu-icon"></i>
                Shipment
                <i class="fa-solid fa-angle-right chevron"></i>
            </div>
            <ul class="submenu" id="booking-submenu">
                <a href="/booking" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Add Booking
                </a>
                <a href="/vehicleassigning" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Vehicle Assigning
                </a>
                <a href="/location" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Add Location
                </a>
            </ul>
        </div>

        <!-- Fleet Management with dropdown -->

        <div>
            <div class="menu-item has-submenu mb-2" data-target="fleet-submenu">
                <i class="fa-solid fa-truck menu-icon"></i>
                Vehicle Managment
                <i class="fa-solid fa-angle-right chevron"></i>
            </div>
            <ul class="submenu" id="fleet-submenu">
                <a href="/vehicle" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Vehicle
                </a>
                <a href="#" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Revenue
                </a>
            </ul>
        </div>

        <!-- Customer Management with dropdown -->
        <div>
            <div class="menu-item has-submenu mb-2" data-target="customer-submenu">
                <i class="fa-solid fa-user menu-icon"></i>
                Client Management
                <i class="fa-solid fa-angle-right chevron"></i>
            </div>
            <ul class="submenu" id="customer-submenu">
                <a href="/customer" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Customer
                </a>
                <a href="/customeragreement" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Agreement
                </a>
                <a href="/package" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Package
                </a>
            </ul>
        </div>

        <!-- Supplier Management with dropdown -->
        <div>
            <div class="menu-item has-submenu mb-2" data-target="supplier-submenu">
                <i class="fa-solid fa-users menu-icon"></i>
                Supplier Management
                <i class="fa-solid fa-angle-right chevron"></i>
            </div>
            <ul class="submenu" id="supplier-submenu">
                <a href="/supplier" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Supplier
                </a>
                <a href="/supplieragreement" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Agreement
                </a>
            </ul>
        </div>

        <!-- Customer Management with dropdown -->
        <div>
            <div class="menu-item has-submenu mb-2" data-target="approval-submenu">
                <i class="fa-solid fa-user menu-icon"></i>
                Approval
                <i class="fa-solid fa-angle-right chevron"></i>
            </div>
            <ul class="submenu" id="approval-submenu">
                <a href="/customeragreementapprove" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Customer Agreement
                </a>
                <a href="/supplierragreementapprove" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Supplier Agreement
                </a>
            </ul>
        </div>
        <!-- drver  -->
        <a href="/driver" class="menu-item mb-2">
            <i class="fa-solid fa-user menu-icon"></i>
            Driver Management
        </a>

        <!-- Payment Management with dropdown -->
        <div>
            <div class="menu-item has-submenu mb-2" data-target="invoice-submenu">
                <i class="fa-solid fa-credit-card menu-icon"></i>
                Billing
                <i class="fa-solid fa-angle-right chevron"></i>
            </div>
            <ul class="submenu" id="invoice-submenu">
                <a href="/customerpayment" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Customer Payment
                </a>
                <a href="#" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Supplier Payment
                </a>
            </ul>
        </div>

        <!-- Payment Management with dropdown -->
        <div>
            <div class="menu-item has-submenu mb-2" data-target="payment-submenu">
                <i class="fa-solid fa-credit-card menu-icon"></i>
                Payment
                <i class="fa-solid fa-angle-right chevron"></i>
            </div>
            <ul class="submenu" id="payment-submenu">
                <a href="#" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Customer Payment
                </a>
                <a href="#" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Supplier Payment
                </a>
            </ul>
        </div>

        <!-- Administration with dropdown -->
        <div>
            <div class="menu-item has-submenu mb-2" data-target="administration-submenu">
                <i class="fa-sharp fa-solid fa-gear menu-icon"></i>
                Administration
                <i class="fa-solid fa-angle-right chevron"></i>
            </div>
            <ul class="submenu" id="administration-submenu">
                <a href="/employee" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Employee
                </a>
                <a href="/user" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> User
                </a>
                <a href="/privilage" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> Privilage
                </a>
            </ul>
        </div>

        <!-- Reports  with dropdown -->
        <div>
            <div class="menu-item has-submenu" data-target="report-submenu">
                <i class="fa-sharp fa-solid fa-folder menu-icon"></i>
                Reports
                <i class="fa-solid fa-angle-right chevron"></i>
            </div>
            <ul class="submenu" id="report-submenu">
                <a href="#" class="submenu-item">
                    <i class="fa-solid fa-spinner fa-spin"></i> All Repoerts
                </a>

            </ul>
        </div>

<!--        <div>-->
<!--            <div class="menu-item mt-4 mb-3">-->
<!--                <a class="dashboard-link" href="/logout" style="text-decoration: none; text-align: center;">-->
<!--                    <i class="fa-sharp fa-solid fa-right-from-bracket menu-icon"></i>Logout-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
    </div>


</div>